.row-container {
  display: flex;
  flex-direction: row;
}

.col-container {
  display: flex;
  flex-direction: column;
}

.newsitem-container {
  flex: 0 0 50%;
  height: auto;
  max-width: 340px;
  margin-top: 20px;
  padding: 0px 10px;
}

.publisher-text {
  color: #9f9f9f;
  font-size: small;
}

.articletitle-text {
  font-size: medium;
}
.newsitem-image {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 330px;
  max-height: 191px;
  height: 100%;
  border-radius: 3px;
}

.background-image {
  object-fit: cover;
  overflow: hidden;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 3px;
}
